@model List<LangateTaskTracker.Domain.Models.TrackerTaskModel>
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
    </style>
}

<div class="d-flex flex-row-reverse border rounded border-secondary p-2 mb-3">
    <button class="btn btn-primary pl-4 pr-4" data-toggle="modal" data-target="#new-task-modal">Add Task</button>
</div>
<div class="d-flex flex-column border rounded border-secondary p-4">
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="d-flex flex-column mb-5">
                <form method="post" asp-controller="Home" asp-action="UpdateTask">
                    <div class="d-flex flex-column flex-md-row  border rounded border-secondary p-2 mb-3">
                        <div class="d-flex flex-grow-1 flex-column">
                            <input asp-for="@item.Id" name="id" hidden />
                            <input asp-for="@item.Title" name="title" placeholder="title" class="form-control mb-2" required />
                            <textarea asp-for="@item.Description" name="description" class="form-control"></textarea>
                        </div>
                        <div class="d-flex flex-grow-1 flex-column flex-fill mt-3 mt-md-0 ml-md-3">
                            <select asp-for="@item.Status" name="status" class="form-control" asp-items="Html.GetEnumSelectList<LangateTaskTracker.Domain.Models.TrackerTaskStatus>()"></select>
                            <div class="d-flex flex-row mt-2">
                                <button type="submit" class="btn btn-primary flex-grow-1">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" asp-controller="Home" asp-action="DeleteTask" class="text-right">
                    <input asp-for="@item.Id" name="id" hidden />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            
        }
    }
    else
    {
        <h1 class="h1">You have no tasks yet</h1>
    }
</div>

<div class="modal" id="new-task-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="Home" asp-action="AddTask">
                <div class="modal-header">
                    <h5 class="modal-title">New Task</h5>
                    <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="text-left mb-3">
                        <label>Title</label>
                        <input name="title" class="form-control" placeholder="Title" required />
                    </div>
                    <div class="text-left mb-4">
                        <label>Description</label>
                        <textarea name="description" class="form-control" placeholder="Description" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>